
:root {
    --vp-c-brand-1: #ffcc01;
    --vp-c-brand-2: var(--vp-c-brand-1);
    --vp-c-brand-3: var(--vp-c-brand-1);
    --vp-c-brand-soft: var(--vp-c-brand-1);

    --muc-background: url("https://it-at-m.github.io/opensource.muenchen.de/assets/backgrounds/city_day.jpg");
    --muc-logo-filter: invert(0);
}

.dark {
    --muc-background: url("https://it-at-m.github.io/opensource.muenchen.de/assets/backgrounds/wheel_night.jpg");
    --muc-logo-filter: invert(1);
}

.is-home {
    background-image: var(--muc-background);
    background-attachment: fixed;
    background-size: cover;
}

.VPNav,
.VPNavBar {
    --vp-nav-bg-color: var(--vp-c-bg-soft);
    background: var(--vp-nav-bg-color);
    border-bottom: none;
}

@media all and (max-width: 768px){

    .VPDoc {
        padding: 0 !important;
    }

    .VPDoc > .container {
        border-radius: unset;
        padding: 32px;
    }
}